---
import AEDemo from '@components/AEDemo.astro'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Astro Editor Scratchpad</title>
  </head>
  <body>
    <main>
      <AEDemo code={`# Title\n\nSome **markdown**...`} />
      <AEDemo code={`Some **markdown** with a [link](https://example.com).`} />
      <AEDemo
        code={`Some **markdown** with a [link](https://example.com).`}
        inline
      />

      <AEDemo
        code={`# Heading 1
## Heading 2
### Heading 3`}
      />

      <AEDemo code="> A quote stands out from the surrounding text." />
    </main>
  </body>
</html>

<style>
  main {
    padding: 1rem;
    max-width: 80ch;
    margin: 0 auto;
  }
</style>
